/*- Div One and Div Three have 32px between their text and border.
- Div One has 12px between it and any other element on the page.
- There is a 48px gap between Div Two and Div Three.
- Div Three is aligned to the right.
- Div Three's alignment is achieved using `margin` (and not float, flexbox, etc.).*/



body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  /* My solution which show the same as the TOP solution
  * and actuallylines up with the image when TOP doesnt */
 
 /* padding: 40px 90px 40px 50px;
margin-left: 250;
  */
  padding: 32px;
  margin: auto;

}